.details {
	&__title {
		text-align: center;
	}
	&__pages {
		background: #86b8e2;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		padding: 15px;
		position: relative;

		img {
			width: 170px;
			height: 150px;
		}

		h2 {
			text-align: center;
		}
	}

	&__prop {
		&__title {
			text-align: center;
		}
	}

	&__button {
		&__back {
			position: absolute;
			left: 2%;
			top: 13%;
		}
	}
}
