.shopping {
  &-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #989494;
    flex-direction: column;
    padding: 20px;
    background-size: cover;
    text-align: center;
  }

  &-title {
    font-size: 28px;
    color: #4a2c1f;
    text-align: center;
    margin-bottom: 15px;
  }

  &-image {
    background-color: #989494;
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
  }

  &-cart {
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  &-status {
    font-size: 18px;
    color: #333;
    text-align: center;
  }

  &-empty {
    font-size: 20px;
    color: #692618;
    text-align: center;
    margin-top: 20px;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.cart-item-image {
  width: 220px;
  height: auto;
  border-radius: 8px;
}

.cart-item-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.cart-item-price {
  font-size: 16px;
  color: #4a2c1f;
  margin-top: 5px;
}

.remove-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 5px;
}

.remove-button:hover {
  background-color: #c9302c;
}

.cart-item-quantity-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-quantity-button {
  background-color: #d9d9d9;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-item-quantity-button:hover {
  background-color: #c0c0c0;
}

.cart-item-quantity-button:active {
  background-color: #a0a0a0;
  transform: scale(0.95);
}

.cart-item-quantity {
  font-size: 18px;
  font-weight: bold;
}

.order-button {
  background-color: #155217;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}
